body{
  font-family:;
  font-size:;
}
header{
  background-color:;
}
nav{
  background-color:;
}
main{
  background-color:;
}
footer{
  background-color:;
}
li{
  display:;
  width:;
}
h1{
  text-alignment:;
  font-family:;
  color:;
}
p{
  line-height:;
}
